<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= process.env.APP_PATH %>/frontend.css" />
    <link rel="icon" href="<%= process.env.APP_PATH %>/favicon-bastel.ico" type="image/x-icon">
    <script src="<%= process.env.APP_PATH %>/htmx.js" type="module"></script>
    <script src="<%= process.env.APP_PATH %>/bastel.js" defer></script>
    <title>BASTEL MIT MIR</title>
</head>

<body>
    <h3>Select your timezone:</h3>
    <form action="" method="post">
        <input type="search" name="search" id="searchInput" placeholder="search your preferred timezone .."
            hx-post="<%= process.env.APP_PATH %>/bastel" hx-trigger="input changed, search" hx-target="#search-results">
        <div id="search-results" style="margin-top: 1em">
            <p>Results so far:</p>
        </div>
    </form>
</body>

</html>