  <p>
      <em>Path: </em>
      <%=error.path %>
  </p>
  <p>
      <em>Message</em>
      <%=error.message%>
  </p>
  <p>
      <em>Stack</em>
      <%=error.stack%>
  </p>
  <p><em>JSON:</em>
      <%= JSON.stringify(error.message) %>
  </p>
  <% if ("undefined" !=typeof errors ) { %>
  <% for( let i=0; i < errors.length; i++ ) { %>
  <p class="error">
      <%= errors[i] %>
  </p>
  <% } %>
  <% } %>