<%- include('head') %>

    <nav id="profile">
        <!-- TODO: logout über hx -->
        <form action="<%= process.env.APP_PATH %>/logout" method="post">
            <button id="profileLogoutButton" class="logout">logout</button>
        </form>
        <span id="profileUsername">
            <%= user %>
        </span>
    </nav>
    <h1>Watchtracker</h1>

    <%- include('userwatches') %>
        <div id="measurements"></div>
        <!--
        <div id="add-and-delete">
            <button id="addWatch">Add new</button>
        </div>
        -->
        <a id="github" href="https://github.com/georgernstgraf/watchtracker/issues">Create an Issue on Github</a>
        <%- include('foot') %>