<%# Needs watch, measurements[] and overallMeasure _%>
<% let measurements = watch.measurements _%>
<% let overallMeasure = watch.overallMeasure _%>
<table>
    <%- include('caption') %>
    <thead>
        <tr>
            <th scope="rowgroup"><button title="new record"
                    hx-post="<%= process.env.APP_PATH %>/measure/<%= watch.id %>" hx-target="closest table"
                    hx-swap="outerHTML">＋</button>
            </th>
            <th scope="col">Entry Date</th>
            <th scope="col">Deviation</th>
            <th scope="col">Type</th>
            <th scope="col">Drift</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        <% measurements.forEach(e=> { %>
        <tr data-id="<%= e.id %>">
            <th scope="row">
                <button title="delete" hx-delete="<%= process.env.APP_PATH %>/measure/<%= e.id %>"
                    hx-target="closest table" hx-swap="outerHTML">－</button>
            </th>
            <td>
                <input type="datetime-local" name="createdAt" value="<%= e.createdAt16 %>"
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger='keyup[key=="Enter"]'>
            </td>
            <td>
                <input type="number" name="value" value="<%= e.value %>"
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger='keyup[key=="Enter"]'>
            </td>
            <td hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-vals='{"isStart": <%= !e.isStart %>}'
                hx-target="closest table" hx-swap="outerHTML">
                <% if (e.isStart) { %>
                <button class="startStop">🎬</button>
                <% } else { %>
                <button class="startStop">⌛</button>
                <% } %>
            </td>
            <td class="sekPerDay">
                <%- e.driftDisplay %>
            </td>
            <td>
                <input type="text" name="comment" id="measureid_<%= e.id %>" <% if (e.comment) { %>
                    value="<%= e.comment %>" <% } else { %> placeholder="enter comment" <% } %>
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger='keyup[key=="Enter"]'>
            </td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <% if (typeof overallMeasure != 'undefined') { %>
            <td class="driftSummary" colspan="7"> (Duration: <%= overallMeasure.durationDays %> Days, Drift:
                <%= overallMeasure.driftSeks %> Sec=&gt; <%= overallMeasure.niceDisplay %>)</td>
            <% } else { %>
            <td class="driftSummary" colspan="7">No records yet</td>
            <% } %>
        </tr>
    </tfoot>
</table>