<%# Needs watch, measurements[] and overallMeasure %>
<table>
    <caption colspan="6"><%= watch.name %>
        <%- include('watchCaption') %>
    </caption>
    <thead>
        <tr>
            <th scope="rowgroup" style="width: 5%;"><button
                    hx-post="<%= process.env.APP_PATH %>/measure/<%= watch.id %>" hx-target="closest table">＋</button>
            </th>
            <th scope="col" style="width: 30%;">Messzeitpunkt</th>
            <th scope="col" style="width: 10%;">Abweichung</th>
            <th scope="col" style="width: 10%;">Typ</th>
            <th scope="col" style="width: 15em; text-align: center;">Drift</th>
        </tr>
    </thead>
    <tbody>
        <% measurements.forEach(e=> { %>
        <tr data-id="<%= e.id %>">
            <th scope="row">
                <button hx-delete="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML">－</button>
            </th>
            <td>
                <input type="datetime-local" name="createdAt" value="<%= e.createdAt.toISOString().substring(0, 16) %>"
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger="input changed delay:500ms">
            </td>
            <td>
                <input type="number" name="value" value="<%= e.value %>"
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger="input changed delay:500ms">
            </td>
            <td hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-vals='{"isStart": <%= !e.isStart %>}'
                hx-target="closest table" hx-swap="outerHTML">
                <% if (e.isStart) { %>
                <button class="startStop">🎬</button>
                <% } else { %>
                <button class="startStop">⌛</button>
                <% } %>
            </td>
            <td class="sekPerDay">
                <%= e.driftDisplay %>
            </td>
            <td>
                <input type="text" name="comment" id="measureid_<%= e.id %>" <% if (e.comment) { %>
                    value="<%= e.comment %>" <% } else { %> placeholder="enter comment" <% } %>
                    hx-patch="<%= process.env.APP_PATH %>/measure/<%= e.id %>" hx-target="closest table"
                    hx-swap="outerHTML" hx-trigger='keyup[key=="Enter"]'>
            </td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <td class="driftSummary" colspan="7"> (Dauer: <%= overallMeasure.durationDays %> Tage, Drift:
                <%= overallMeasure.driftSeks %> Sek=&gt; <%= overallMeasure.niceDisplay %>)</td>
        </tr>
    </tfoot>
</table>