<!-- #navProfile.hbs -->
<nav id='profile'
     class="mb-2">
    <div class="d-flex justify-content-end align-items-baseline gap-2 mb-2">
        <span id='profileUsername'> User: {{user.name}}
        </span>
        <form hx-post='{{appPath}}/logout'
              hx-target='body'>
            <button id='profileLogoutButton'
                    class='logout btn btn-outline-light'
                    title="Log Out">logout</button>
        </form>
    </div>
    <div id='timeZoneDisplay'
         class="d-flex justify-content-end align-items-baseline gap-2">
        <p> {{user.timeZone}} </p>
        <button title='Switch Timezone'
                class='startStop btn btn-outline-light'
                onclick='editTimezone()'>✏️</button>
    </div>
    <div id='timeZoneEdit'
         class="justify-content-end align-items-baseline gap-2"
         style="display: none">
        <form onsubmit='return false;'
              hx-patch='{{appPath}}/user'
              hx-target='body'
              id='timeZoneSelectForm'
              hx-trigger='trigger'
              hx-swap='outerHTML'>
            <label for='timeZoneSelector'>My Timezone: </label>
            <input id='timeZoneSelector'
                   list='timeZoneList'
                   name='timeZone'
                   placeholder='{{user.timeZone}}' />
            <datalist id='timeZoneList'
                      style='display: none;'>
                {{#each timeZones}}
                    <option value='{{this}}'>
                        {{this}}
                    </option>
                {{/each}}
            </datalist>
        </form>
        <div class="btn-group"
             role="group">
            <button title='Cancel'
                    class="btn btn-outline-light"
                    onclick='editTimezone(false)'>❌</button>
            <button title='Done'
                    class="btn btn-outline-light"
                    class='startStop'
                    onclick="htmx.trigger('#timeZoneSelectForm', 'trigger');editTimezone(false)">💾</button>
        </div>
    </div>
</nav>
<!-- /navProfile.hbs -->