<!-- #navProfile.hbs -->
<nav id='profile' class="mb-3">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <h1 class="mb-2 mb-sm-0">Watchtracker</h1>
        <div class="d-flex align-items-center gap-3">
            <button id='timeZoneButton'
                    title='Switch Timezone'
                    class='btn btn-outline-secondary btn-sm py-0 px-2'
                    onclick='editTimezone()'>
                {{user.timeZone}}
            </button>
            <div id='timeZoneEdit'
                 class="align-items-center gap-2"
                 style="display: none">
                <form onsubmit='return false;'
                      hx-patch='{{appPath}}/auth/user'
                      hx-target='body'
                      id='timeZoneSelectForm'
                      hx-trigger='trigger'
                      hx-swap='outerHTML'>
                    <input id='timeZoneSelector'
                           list='timeZoneList'
                           name='timeZone'
                           placeholder='{{user.timeZone}}'
                           class="form-control form-control-sm bg-dark text-light border-secondary"
                           style="width: 140px;" />
                    <datalist id='timeZoneList' style='display: none;'>
                        {{#each timeZones}}
                            <option value='{{this}}'>{{this}}</option>
                        {{/each}}
                    </datalist>
                </form>
                <div class="btn-group btn-group-sm" role="group">
                    <button title='Cancel'
                            class="btn btn-outline-secondary py-0"
                            onclick='editTimezone(false)'>❌</button>
                    <button title='Done'
                            class="btn btn-outline-secondary py-0"
                            onclick="htmx.trigger('#timeZoneSelectForm', 'trigger');editTimezone(false)">💾</button>
                </div>
            </div>
            <button id='themeToggle'
                    class='btn btn-outline-secondary btn-sm py-0 px-1'
                    title='Toggle theme'
                    onclick='toggleTheme()'>
                <span id='themeIcon'>🌙</span>
            </button>
            <form hx-post='{{appPath}}/logout' hx-target='body'>
                <button id='profileLogoutButton'
                        class='btn btn-outline-secondary btn-sm'
                        title='Log out {{user.name}}'>
                    logout {{user.name}}
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- /navProfile.hbs -->