<!-- #userwatches.hbs -->
<div id='userWatches'>
        <select id='watchSelect'
                class="form-select text-center border border-2 mb-3 mx-auto w-50"
                size='{{plusOne userWatches.length}}'
                hx-get='{{appPath}}/auth/watch/'
                hx-target='#measurements'
                hx-vals='js:{id: event.target.value}'>
                {{#each userWatches}}
                <option value='{{id}}'>{{name}}</option>
                {{/each}}
                <option>-- your watches --</option>
        </select>
        <div class="my-2 d-flex justify-content-around"
             id='watchCreateBtn'>
                <button title='Add a new Watch to track'
                        onclick="watchCreateDisplay()"
                        class="btn btn-outline-light">Add new Watch to track</button>
        </div>
        <div id='watchCreateForm'
             class="my-4 justify-content-center gap-3 align-items-baseline"
             style='display:none'>
                <form id='newWatchSave'
                      hx-post='{{appPath}}/auth/watch/'
                      hx-target='#allButHeadAndFoot'
                      hx-swap='outerHTML'
                      hx-trigger='trigger'>
                        <input type='text'
                               name='name'
                               value=''
                               placeholder='enter Name' />
                        <input type='text'
                               name='comment'
                               value=''
                               placeholder='enter Comment' />
                </form>
                <div class="btn-group">
                        <button class="btn btn-outline-light"
                                title='Cancel Edit'
                                onclick="watchCreateDisplay(false)">❌</button>
                        <button title='Save'
                                class="btn btn-outline-light"
                                type='button'
                                onclick="htmx.trigger('#newWatchSave', 'trigger')">💾</button>
                </div>
        </div>
</div>
<!-- /userwatches.hbs -->